/* Global */
:root {
    --wh-green: #3e8e45;
    --light-gray: rgb(248, 249, 250);
    --dark: #1a1a1a;
    --navbar-height: 64.74px;
}

html {
    font-size: 14px;
}

body {
    position: relative;
    padding-top: var(--navbar-height);
    color: var(--dark);
}

.modal {
    -webkit-overflow-scrolling: touch;
}

body .modal-open {
    overflow: hidden;
    position: absolute;
}

#section-1, #section-2, #section-3, #section-4, #section-5, #section-6, #section-7 {
    padding-top: var(--navbar-height);
    margin-top: calc(-1 * var(--navbar-height));
}

.new-section {
    padding: 2rem 2.5rem;
}

@media screen and (max-width: 991.98px) {
    .new-section {
        padding: 2rem 4rem;   
    }
}

@media screen and (max-width: 767.98px) {
    .new-section {
        padding: 2rem 2rem;
    }
}

.heading {
    font-weight: bold;
    font-size: 2.2em;
    padding-bottom: 1.5rem;
}

@media screen and (max-width: 991.98px) {
    .heading {
        font-size: 3em;
    }
}

@media screen and (max-width: 767.98px) {
    .heading {
        font-size: 2rem;
    }
}

.btn-success {
    background-color: var(--wh-green);
    border-color: var(--wh-green);
}

.navbar-brand img {
    height: 3rem;
}

.navbar-light .navbar-nav .nav-link.active {
    background-color: rgba(0, 0, 0, 0.6);
    color: var(--light-gray);
}

/* Landing */
#landing img {
    width: 100vw;
}

/* Overview */
#overview {
    min-height: 100%;
    background-color: var(--wh-green);
    color: var(--light-gray);
    padding: 3rem 2rem;
}

#overview .o-1 {
    font-size: 3rem;
    font-weight: 300;
    margin-bottom: -1rem;
}

#overview .o-2 {
    font-size: 6rem;
    font-weight: 700;
}

#overview .o-3 {
    font-size: 2rem;
    font-weight: 600;
}

#overview .overview-body {
    font-size: 1.3rem;
    font-weight: 300;
    line-height: 2;
}

@media screen and (max-width: 991.98px) {
    #overview .overview-body {
        font-size: 1.15rem;
        font-weight: 200;
        line-height: 1.6;
    }
    
    #overview .o-1 {
        font-size: 2rem;
        font-weight: 250;
        margin-bottom: -1rem;
    }
    
    #overview .o-2 {
        font-size: 4rem;
        font-weight: 500;
    }
    
    #overview .o-3 {
        font-size: 1.3rem;
        font-weight: 400;
    }
}

@media screen and (max-width: 767.98px) {
    #overview .o-1 {
        font-size: 1.5rem;
        font-weight: 300;
    }
    
    #overview .o-2 {
        font-size: 3.6rem;
        font-weight: 500;
    }
    
    #overview .o-3 {
        font-size: 1.1rem;
        font-weight: 500;
    }
    
    #overview .overview-body {
        padding-top: 2rem;
        font-size: 1.05rem;
    }
}

/* Services */
#services {
    min-height: 100%;
    background-image: url(/images/qbkls.png);
    background-repeat: repeat;
/*    background-color: var(--light-gray);*/
    color: var(--dark);
}

.service {
    padding: 0.5rem;
    font-weight: bold;
    font-size: 1.5em;
}

#services .card {   
    margin-bottom: 3rem;
}

@media screen and (max-width: 991.98px) {
    #services .card {
        margin-bottom: 2rem;
    }

    .service {
        font-size: 2rem;
    }

    .service-body {
        font-size: 1.35rem;
    }
}

@media screen and (max-width: 767.98px) {
    #services .card {
        margin-bottom: 2rem;
        font-size: 1.05rem;
    }
    
    .service {
        font-size: 1.5rem;
    }
    
    .service-body {
        font-size: 1.1rem;
    }
    
    #services img {
        width: 20%;
    }
}

/* Why */
#why {
    background-image: url(/images/qbkls.png);
    background-repeat: repeat;
/*    background-color: var(--light-gray);*/
    color: var(--dark);
}

#why .card {
    margin-bottom: 3rem;
}

@media screen and (max-width: 991.98px) {
    #why .card {
        margin-bottom: 2rem;
    }
}

@media screen and (max-width: 767.98px) {
    #why .card {
        margin-bottom: 2rem;
        font-size: 1.05rem;
    }
    
    #why img {
        width: 20%;
    }
}

/* Due Diligence */

#diligence {
    padding: 6rem;
    background-image: url("/images/connectwork.png");
    background-repeat: repeat;
    color: var(--light-gray);
}

#diligence .dd-title {
    font-weight: bold;
    font-size: 3rem;
    padding-bottom: 3rem;
}

#diligence .title-text {
    font-weight: 200;
    font-size: 1.5rem;
}

#diligence .dd {
    border-width: 1px;
    border-style: solid;
    border-radius: 5px;
    margin: 1rem;
    background-color: rgba(255, 255, 255, 0.25);
}

#diligence .dd-row {
    padding-bottom: 2rem;
}

#diligence .title {
    padding: 1.5rem 1.5rem 0.75rem 1.5rem;
    font-weight: bold;
    font-size: 1.75rem;
    text-align: center;
}

#diligence .body {
    padding: 0 2rem 1.5rem 2rem;
    text-align: justify;
    font-size: 1.05rem;
    font-weight: 250;
}

@media screen and (max-width: 991.98px) {
    #diligence .title-text {
        padding-bottom: 2rem;
    }
    
    #diligence .dd-row {
        padding-bottom: 0;
    }
    
    #diligence .title {
        font-size: 2rem;
    }
    
    #diligence .body {
        font-size: 1.5rem;
    }
}

@media screen and (max-width: 767.98px) {
    #diligence {
        padding: 2rem;
    }
    
    #diligence .dd-title {
        padding-bottom: 1rem;
    }
    
    #diligence .title-text {
        font-size: 1.15rem;
        padding-bottom: 1rem;
    }
    
    #diligence .dd-row {
        padding-bottom: 0;
    }
    
    #diligence .body {
        padding: 0 1rem 1rem 1rem;
        font-size: 1.15rem;
    }
}

/* Team */
#team {
    background-color: var(--wh-green);
    color: var(--light-gray);
}

#team img {
    width: 75%;
    border-radius: 50%;
    filter: grayscale(100%);
}

#team button {
    padding: 0.5rem;
    margin: 0.2rem;
}

#team .name {
    font-weight: 500;
    font-size: 1.35rem;
}

#team .team-body {
    font-size: 1rem;
    padding-bottom: 2rem;
}

@media screen and (max-width: 991.98px) {
    #team img {
        width: 60%;
    }
    
    #team .name {
        font-size: 2rem;
    }
    
    #team button {
        font-size: 1.35rem;
        margin: 0.35rem;
    }
    
    #team .team-body {
        font-size: 1.25rem;
        font-weight: 250;
        padding-bottom: 1rem;
    }
}

@media screen and (max-width: 767.98px) {
    #team {
        padding: 2rem 2rem;
    }
    
    #team .col-md-6 {
        padding: 0.5rem;
    }
    
    #team img {
        width: 50%;
    }
    
    #team .name {
        font-size: 1.5rem;
    }
    
    #team button {
        margin: 0.25rem;
    }
    
    #team .team-body {
        font-size: 1.25rem;
        font-weight: 200;
        padding-bottom: 0.35rem;
    }
}

/* News */
#news {
    background-image: url(/images/ep_naturalblack.png);
    background-repeat: repeat;
/*    background-color: var(--dark);*/
}

#news .card {
    cursor: pointer;
}

@media screen and (max-width: 767.98px) {
    #news {
        padding: 2rem 2rem;
    }
}

/* Contact */
#contact {
    height: 100%;
    color: var(--dark);
}

@media screen and (max-width: 767.98px) {
    #contact {
        padding: 2rem 2rem;
    }
    
    #contact table {
        margin-bottom: 10rem;
    }
}

#footer {
    background-color: black;
    color: var(--light-gray);
    padding: 0.3rem 2rem;
}

#footer button {
    margin: 0.5rem;
    padding: 0.3rem;
}

#disclaimer {
    font-size: 0.8rem;
}

#disclaimer .section {
    font-weight: bold;
    text-align: center;
}

#privacy {
    font-size: 0.7rem;
}

#privacy .section {
    font-weight: bold;
    text-align: center;
}